extends layout

block content
  h1= title
  p Welcome to #{title}
  h3 '链接'
  a(href="https://www.xiangyouzou.xyz")
  h3 'get表单'
  form(action="https://www.xiangyouzou.xyz", method="get")
    input(type="text", name="name", value="zhangsan")
    button(type="submit") submit
  h3 'post表单'
  form(action="https://www.xiangyouzou.xyz", method="post")
    input(type="text", name="name", value="lisi")
    button(type="submit") submit
  h3 'post表单 baidu'
  form(action="https://www.baidu.com", method="post")
    input(type="text", name="wd", value="lisi")
    button(type="submit") submit
  iframe(src="https://www.adobe.com/sea/")

  script(src="/javascripts/index.js")